* {
  font-family: 'Sulphur Point', sans-serif;
}

body {
  height: 100vh;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: rgb(22, 44, 64);
}

span {
  color: rgb(240, 72, 72);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(22, 44, 64);
  }
  h1 {
    color: white;
  }
}
