* {
  font-family: 'Sulphur Point', sans-serif;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: column;
}

html, body {
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: rgb(22, 44, 64);
  margin: 0;
}

span {
  color: rgb(240, 72, 72);
}

a {
  color: rgb(86, 171, 242)
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(22, 44, 64);
  }
  h1 {
    color: white;
  }
}
